div{
    
    background-color: rgb(76, 0, 255);
    background-image: url(https://img.freepik.com/fotos-premium/tecnologia-omnicanal-comercio-minorista-linea_31965-15908.jpg);
 }
 h2{
    color: white
 }
 